.content_deporte{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}
.img_deporte{
    height: 85vh;
    position: relative;
}
.img_deporte img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: bounce-in-top 1.1s both;
}
.img_deporte div{
    width: 514px;
    height: 514px;
    background-color: #CC3333;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    border-radius: 50%;
}
.info_deporte{
    height: 100%;
    width: 100%;
    max-width: 460px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.info_deporte h2{
    font-size: 5em;
}
.info_deporte article{
    background-color: var(--main-color-oscuro);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 2em;
}
.icon_equipo{
    width: 102px;
    height: 102px;
    background-color: #ffffff;
    border-radius: 50%;
}
.icon_vs{
    border: 1px solid var(--rojo-color);
    border-radius: 50%;
    height: 72px;
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_editar{
    position: absolute;
    top: -1em;
    right: -20px;
    background-color: #ffffff;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: var(--main-color-oscuro);
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabla_deporte{
    background-color: var(--main-color-oscuro);
    padding: 1em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.left-nombre{
    text-align: right;
}
.rigth-nombre{
    text-align: left;
}
.marcador_table{
    min-width: 50px;
    text-align: center;
}
.tabla_deporte table{
    width: 100%;
    max-width: 469px;
}
.nombre_table{
    padding: 2em;
}
.tabla_deporte table td{
    margin: 0 1em;
}
.tabla_deporte h3{
    text-align: center;
}
.boton_deporte{
    width: 100%;
    border: none;
}
.boton_deporte a{
    text-decoration: none;
    display: inline-block;
    background-color: var(--main-color);
    width: 100%;
    color: #ffffff;
    padding: 1em;
    transition: all .3s ease-in;
}
.boton_deporte a:hover{
    color: var(--main-color);
    background-color: #ffffff;
}
.img_table img{
    width: 39px;
}
@media screen and (max-width: 1300px ) {
    .content_deporte{
        flex-direction: column;
        height: 100%;
        align-items: center;
        padding-top: 6em;
    }
    .info_deporte{
        order: 2;
    }
    .info_deporte h2{
        font-size: 3em;
        text-align: center;
    }
    .img_deporte{
        order: 1;
        height: 100%;
        width: 100%;
        max-width: 400px;
    }
    .nombre_table{
        padding: 0;
    }
    .icon_editar{
        left: 50%;
        z-index: 2;
        transform: translateX(-50%);
    }
    .img_deporte div{
        width: 300px;
        height: 300px;
    }
    .tabla_deporte{
        order: 3;
        width: 100%;
    }
    .img_table img{
        width: 20px;
    }
}
@keyframes bounce-in-top {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }
  @keyframes scale-in-ver-bottom {
    0% {
      transform: scaleY(0);
      transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      transform: scaleY(1);
      transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }