:root {
  --main-color: #182127;
  --main-color-oscuro: #0B1014;
  --rojo-color: #FD2103;
}
*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: var(--main-color) !important;
  font-family: 'Poppins', sans-serif !important;
}

